

/*Footer - General*/
footer{color: rgb(156, 156, 156);}

/*Footer - Estilos para los subtítulos*/
.infoGeneral a{padding-top: 0; padding-bottom: 0; color: rgb(156, 156, 156);}
.infoGeneral a:hover{ margin-left: 10px; transition: 500ms; font-weight: 500; color: rgb(48, 133, 195);}

/*Footer - Estilos para Redes Sociales*/
.lstRedesSociales {list-style-type: none;}
.lstRedesSociales a:hover {color: rgb(48, 133, 195);}
.lstRedesSociales li {padding-bottom: 4px; padding-left: 10px; list-style: none !important;}
.lstRedesSociales li:hover {padding-left: 8px; transform: scale(1.1);}
.lstRedesSociales p i {position: absolute; top: 4px; left: -20px;}

/* Footer - Color para títulos*/
.titulosFooter h6 {color: rgb(48, 133, 195)}






/* COSAS QUE AÚN NO REVISO/NO ENTIENDO*/
footer img{
    max-width: 320px !important;
}

/*RGB CELESTE: 48 133 195*/
/*RGB GRIS: 156 156 156*/

footer p > i {
    position: absolute;
    left: 20px;
}

footer p> a {
    color: var(--color-letras_f_oscuro);
}

footer p >a:hover{
    scale: 1.1;
    transition: 500ms;
    color: white !important;
    transform: translateX(10px);
}


@media (max-width:991px){

    .f-contac >p {
        padding-left: 30px;
    }
}