*{
    font-family: 'Fira Sans Condensed', sans-serif;
}

:root{
    --color-spl: #3085C3;
    --color-spl-opd0: #3086c3d0;
    --color-spl-celeste-2: #66ccff;
    --color-spl-celeste-3: #99ccff;
    --color-spl-crema:#FAF2D3;
    --color-spl-crema-op90:#FAF2D390;
    --color-amarillo:#F4E869;
    --color-f_oscuro: #1F1F1F;
    --color-letras_f_oscuro: #9C9C9C;
}
/*De uso general*/
.bg-spl-c{
    background-color: var(--color-spl-crema);
}

.fcolor-spl-a{
    color: var(--color-spl);
}


/*Barras*/
.top-var{
    background-color: var(--color-f_oscuro);
    font-size: 0.9rem;
}

.top-var a{
    color: var(--color-letras_f_oscuro);
}

.top-var a:hover{
    color: rgb(24, 175, 173);
    background-color: #000000a8;
    border-radius: 5px;
}

.second-bar{
    background-color: var(--color-spl-crema);
}

.second-bar a{
    color:var(--color-spl);
    font-weight: 600;
    letter-spacing: 2px;
}

.second-bar a:hover{
    color: #000000a8;
    scale: 1.15;
}

.second-bar a.btn-donar{
    color: white
}

.second-bar a.btn-donar:hover{
    color: rgb(239, 12, 12);
}

.logo{
    scale: 1.5;
}

.navbar-btn{
    background-color: transparent;
    border-radius: 5px;
    border-color: gray;
}
.btn-donar{
    background-color: var(--color-spl);
    border: 0;
}

.btn-donar:hover{
    background-color: var(--color-spl-celeste-2);
    border: 0;
}

/*::::Carousel::::::*/

.carousel-cont .carousel-item{
    height: calc(100vh - 110px);
    display: flex;
    overflow: hidden;
    position: relative;
    justify-content: center;
}

.carousel-cont .carousel-item img{
    width: 100%;
    position: relative;
    height: 100%;
    object-fit: cover ;
}

/*Posicion de imagenes*/
.carousel-inner .carousel-item:nth-child(1) img{
    object-position: center center;
}
.carousel-inner .carousel-item:nth-child(2) img{
    object-position: right top;
}
.carousel-inner .carousel-item:nth-child(3) img{
    object-position: center center;
}

/*Control de Texto en img1*/
.carou-capt-1{
    bottom: 9.5rem;
}
.carou-capt-1 > h1{
    color: var(--color-spl-crema);
    font-size: 5rem;
    font-weight: 500;
    border-radius: 15px;
    background-color: var(--color-spl-opd0);
}
.carou-capt-1 > p{
    margin-top: 2rem;
    font-weight: 600;
    color: white;
    font-size: 3rem;
    -webkit-text-stroke: 1px var(--color-spl);
}

@media (max-width:991px){
    .carou-capt-1 > h1{
        font-size: 3rem;
    }
    .carou-capt-1 > p{
        font-size: 2rem;
    }
}

/*Nuestra-Labor/Historia*/
#ancla-labor, #ancla-historia, #ancla-ayuda{
    transform: translateY(-100px);
}

.nuestra-labor{
    background-color: var(--color-spl-crema);
    
}
.nuestra-labor h1,.nuestra-historia h1,.ayudanos h1{
    font-size: 3.5rem;
    font-weight: 600;
    color: var(--color-spl);
    letter-spacing: 1.5px;
}
.ayudanos h1{
    text-align: center;
}
.nuestra-labor p, .nuestra-historia p{
    font-size: 1.5rem;
    justify-content: center;
}

@media (max-width:991px){
    #ancla-labor, #ancla-historia{
        transform: translateY(-220px);
    }
    #ancla-ayuda{
        transform: translateY(-235px);
    }

    .nuestra-labor h1, .nuestra-historia h1, .ayudanos h1{
        text-align: center;
        padding-top: 25px;
        font-size: 2.5rem;
    }
    .nuestra-labor p, .nuestra-historia p{
        padding-top: 10px;
        font-size: 1rem;
    }
}

/*Ayudanos*/
.ayudanos{
    background-color: var(--color-spl-crema);
    margin-bottom: 16px;
}
.ayudanos h3{
    color: var(--color-spl);
    
}

/*Btn-saber-mas*/
.btn-saber-mas{
    font-weight: 500;
    background-color: var(--color-spl);
    color: white;
    margin-bottom: 16px;
    border: 0;
    
}
.btn-saber-mas:hover{
    background-color: var(--color-spl-celeste-3);
    color: green;
}
.btn-saber-mas:active{
    background-color: var(--color-spl-celeste-3) !important;
    color: green !important;
    scale: 1.1;
}

/*Footer*/

footer{
    background-color: var(--color-f_oscuro);
    color: var(--color-letras_f_oscuro);
}

footer p > i {
    position: absolute;
    left: 20px;
}

footer p> a {
    color: var(--color-letras_f_oscuro);
}

footer p >a:hover{
    scale: 1.1;
    transition: 500ms;
    color: white !important;
    transform: translateX(10px);
}

.mapa-sitio a{
    padding-top: 0;
    padding-bottom: 0;
    color: var(--color-letras_f_oscuro);
}
.mapa-sitio a:hover{
    margin-left: 10px;
    transition: 500ms;
    font-weight: 500;
    color: white;
}

@media (max-width:991px){

    .f-contac >p {
        padding-left: 30px;
    }
}


/*::Efectos*/
.fade-in{
    opacity: 0;
    transform: translateX(0px);
    transition: opacity 2s, transform 2s;
}
.fade-in-left {
    opacity: 0;
    transform: translateX(-150px);
    transition: opacity 1s, transform 2s;
}

.fade-in-right {
    opacity: 0;
    transform: translateX(150px);
    transition: opacity 1s, transform 2s;
}

.default{
    opacity: 1;
    transform: translateX(0px);
}


/*video autopla, carousel pdata*/